<div class="col-4 col-12-medium" style="font-family: 'Times New Roman', Times, serif; font-size: 20px; text-shadow: 4px 4px 4px #aaa; font-variant: small-caps;">
    <cache>
        @(await Component.InvokeAsync<SidebarViewComponent>())
    </cache>
</div>